.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    &-anchor {
        margin-top: 10px;
    }

    &-anchor,
    .title,
    .desc {
        text-align: center;
    }
}
